*~
Makefile
Makefile.in
*.[oa]
*.gcda
*.gcno
tlf
tlf.1
autom4te.cache
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/.deps
src/cscope.out
src/.gdbinit
stamp-h1
test/defs.*
test/run_*
test/*.log
test/.deps
test-driver
