Makefile
Makefile.in
*.[oa]
*.gcda
*.gcno
tlf
tlf.1
autom4te.cache
aclocal.m4
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/.deps
src/cscope.out
src/.gdbinit
stamp-h1
