*~
Makefile
Makefile.in
*.[oa]
*.code-workspace
*.gcda
*.gcno
*.swp
tlf
tlf.1
README
autom4te.cache
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
src/.deps
src/cscope.out
src/.gdbinit
stamp-h1
test/defs.*
test/run_*
test/*.log
test/.deps
test-driver

# temporary internal files
.bmdata.dat
.paras

# backed-up log file
20*_*_*.log
